.container {
  max-width:1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--medium {
    max-width: 780px;
  }
}