.facts {
  padding: 100px 0;
  text-align: center;
  background-color: #f0f6f4;
}
.facts-content {
  position: relative;
  margin-bottom: 40px;
}
.main-img {
  position: relative;
  text-align: center;

  img {
    @media (max-width: 400px) {
      width: 100%;
    }
  }
}

.facts-list {
  position: absolute;
  top: 15%;

  @media (max-width: 1199px) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  &__item {
    width: 32%;
    margin-bottom: 40px;

    @media (max-width:1024px) {
      width: 50%;
    }
    @media (max-width:700px) {
      width: 100%;
    }

    &:nth-child(odd) {
      margin-right: 10%;
      text-align: right;
      padding-right: 80px;
      background-image: url("../img/energy-icon.svg");
      background-position-x: right;
      background-repeat: no-repeat ;

      @media (max-width:1199px) {
        padding-right:20px ;
        margin-right: 0;
        text-align: left;
        background-position-x: left;

      }
    }

    &:nth-child(even) {
      margin-left: 25%;
      text-align: left;
      padding-left: 80px;
      background-image: url("../img/vegan-icon.svg");
      background-position-x: left;
      background-repeat: no-repeat ;

      @media (max-width:1199px) {
        margin-left: 0;
      }
    }

    &:nth-child(2){
      margin-bottom: 26px;
      padding-bottom: 20px;
    }

    &:nth-child(3){
      position: relative;
      right: 40px;
      background-image: url("../img/nutr-icon.svg");

      @media (max-width:1199px) {
        position: static;
      }
    }

    &:nth-child(4){
      position: relative;
      left: 40px;
      background-image: url("../img/scient-icon.svg");

      @media (max-width:1199px) {
        position: static;
      }
    }

    &:nth-child(5){
      background-image: url("../img/neut-icon.svg");
    }

    &:nth-child(6){
      background-image: url("../img/any-icon.svg");
    }

    @media (max-width: 1199px) {
      margin-right: 0;
      margin-left: 0;
      text-align: left;
      padding-left: 80px;
      padding-right: 20px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }

  &__description {
    font-size: 14px;
  }
}

.download-btn {
  margin-bottom: 40px;
  text-align: center;
}

.download-link {
  line-height: 20px;
  font-size: 18px;
  text-decoration: underline;
  color: #78bc61!important;
}