$desktop:1000px;


$font-family-base:'Montserrat', sans-serif;
$font-size-base:16px;
$font-weight-base: 300;
$line-height-base: 17px;
$body-color: #41474d;
$body-bg: #ffffff;

$title-font-family: bebas-neue, sans-serif;
$title-font-size: 60px;

$btn-bg:#78bc61;
$btn-color:#ffffff;
$btn-font-width: 700;
$btn-font-family:$font-family-base;